<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un produto</title>
</head>
<body>
    <form action="">
        <table>
            <tr>
                <td>agregar imagen</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td><input type="text" required></td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>$<input type="number" required></td>
            </tr>
            <tr>
                <td>Descripcion:</td>
                <td><input type="text" required></td>
            </tr>
            <tr>
                <td>Stock:</td>
                <td><input type="number" required></td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td><select name="txt" required>
                    <option value="">Hombres</option>
                    <option value="">Mujeres</option>
                    <option value="">Niños</option>
                </select></td>
            </tr>
             <td>los colores y puntos de venta </td><td> se agregaran automaticamente con los datos de tu perfil</td>
            <tr>
                <td><a href="/productos">Agregar</a></td>
            </tr>
            <tr>
                <td><a href="/productos">Cancelar</a></td>
            </tr>
        </table>
    </form>
</body>
</html>