<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar colores</title>
</head>
<body>
    <form action="">
        <table>
    <h1>colores</h1>
    <table border="1" >
       <tr>
        <th>ID</th>
        <th>Colores</th>
        <th></th>
       </tr>
       <tr>
        <td>01</td>
        <td>Negro</td>
        <td><a href="/eliminarColor">Eliminar</a></td>
       </tr>
       <tr>
        <td>02</td>
        <td>Azul</td>
        <td><a href="/eliminarColor">Eliminar</a></td>
       </tr>
       <tr>
        <td>03</td>
        <td>Rojo</td>
        <td><a href="/eliminarColor">Eliminar</a></td>
       </tr>
       <tr>
        <td>04</td>
        <td>Gris</td>
        <td><a href="/eliminarColor">Eliminar</a></td>
       </tr>
       <tr>
        <td>05</td>
        <td>Blanco</td>
        <td><a href="/eliminarColor">Eliminar</a></td>
       </tr>
       <tr>
        <td><a href="/agregarColor">Agregar Color</a></td>
       </tr>
       <tr>
        <td><a href="/editarDetalles">Volver</a></td>
       </tr>
</table>
  </form>
</body>
</html>