<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consulta Empresa</title>
</head>
<body>
    <table>
    <h1>Perfil</h1>
    <tr>
        <td>Tipo de usuario: </td>
        <td class="tex2">Empresa</td>
    </tr>
    <tr>
        <td>Nombre de la Empresa:</td>
        <td class="text">SaraShoes</td>
        
    </tr>
    <tr>
        <td>Administrador:</td>
        <td class="text">Jose Manuel Alonso</td>
        
    </tr>
    <tr>
        <td>Cedula:</td>
        <td class="text">1015994112</td>
        
    </tr>
    <tr>
        <td>Telefono:</td>
        <td class="text">3189054343</td>
        
    </tr>
    <tr>
        <td>Direccion:</td>
        <td class="text">Centro crra4 #57</td>
    
    </tr>
    <tr>
        <td>Nit:</td>
        <td class="text">277388</td>
    </tr>
    <tr>
        <td><a  class="btn btn-green" href="/detalleVenta">Detalles</a></td>
        <td><a class="btn btn-green" href="/productos">Productos</a></td>
    </tr>
    <tr class="boton">
        <td><a class="btna btn-red" href="/">Volver</a></td>
        </tr>
</table>

<style type="text/css">

    .boton{
        
        margin: 0 auto;
    }
      .btn {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
 .btna {
    
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
.btn-green{
    color: white;
    background-color: #0377fc;
    padding: 20px 15px;
    width: 90px;
    text-align: center;
   
}
.btn-green:hover{
    background-color: #196bc9;
}
.btn-green:active{
    background-color: #104786;
}
.btn-red{
    color: white;
    background-color: #b60c0c;
    padding: 20px 15px;
    width: 120px;
    text-align: center;
   
}
.btn-red:hover{
    background-color: #970c0c;
}
.btn-red:active{
    background-color: #550202;
}
    table{
        background-color: white;
    border-radius: 4px;
    padding: 20px;
    color: rgb(116, 116, 116);
    margin: 0 auto;
    width: 300px;
    height: 550px;
    }
    body {
        background-color: #003572;
    }
    h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}
.text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.tex2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

</style>
</body>
</html>