<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de venta</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id de venta</th>
            <th>Nombre de usuario</th>
            <th>Nombre de producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Punto de venta</th>
            <th>Metodo de pago</th>
            <th>Fecha de venta</th>
            <th><img  class="logo" src="img/logo.png" alt=""></th>
        </tr>
        <tr>
            <td>01</td>
            <td>Jesus Nicolas</td>
            <td>Zapatos mkl</td>
            <td>$80.000</td>
            <td>1</td>
            <td>Centro/Pitalito</td>
            <td>Tarjeta de credito</td>
            <td>09/06/2022</td>
            <td><a class="btn btn-green" href="/consultaUsuario">Volver</a></td>
        </tr>
    </table>
    <style type="text/css">
    table{
        background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 0 auto;
    
    }
    .btn {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
    .btn-green{
    color: white;
    background-color: #0377fc;
    padding: 20px 15px;
    width: 90px;
    text-align: center;
   
}
.btn-green:hover{
    background-color: #196bc9;
}
.btn-green:active{
    background-color: #104786;
}
    tr {
    width: 40px;
    height: 50px;
    border-color:#fdfdfd ;
    border-style: groove;
    }
    td {
        color:black;
        text-align: center;
    }
    th {
        color: rgb(116, 116, 116);
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-color: #003572;
    }

    </style>
</body>
</html>