<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapatos mkl</title>
</head>
<body>
    <form action="">
    <div>
        
    <h1>Zapatos mkl</h1>
    
        Precio:
        <p class="tet">$80.000</p>
    
    <p class="text"></p>
       
        <input class="field"s type="number" required placeholder="Ingresa la cantidad" required>
    
        <p class="text"></p>
        Colores:
        <select class="btn-select" name="txtcol" required>
            <option value="">Negro,Negro,Blanco</option>
            <option value="">Rojo,Negro,Gris</option>
            <option value="">Azul,Negro,Gris</option>
            <option value="">Verde,Negro,Gris</option>
        </select>
    
        <p class="text"></p>
        Punto de venta:
        <select class="btn-select" name="txtven" required>
            <option value="">Centro/Pitalito</option>
            <option value="">Calamo/Pitalito</option>
            <option value="">Solarte/Pitalito</option>
            <option value="">Parque/Timana</option>
        </select>
    
        <p class="text"></p>
        Descripcion:
        <p class="texto">Zapatos de buena calidad que vienen en una variedad de colores </p>
    
     
         <a class="btn btn-green" href="/comprar">Comprar</a>
     
         <a class="btn btn-red" href="/">Volver</a>
        
    </div>
</form>
</body>
<style type="text/css">

    .link{
        text-align: center;
        color:#0703fc;
        
    }
    .btn-red{
    color: white;
    background-color: #be0e08;
    padding: 20px 15px;
   
}
    .btn {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
    
}
.texto {
    color: black;
}
.tet{
    color: black;
    font-size: 25px;
}
.btn-select{
    padding: 10px 15px;
    cursor: pointer;
}
.btn-green{
    color: white;
    background-color: #0377fc;
    padding: 20px 15px;
   
   
}

.btn-green:hover{
    background-color: #196bc9;
}
.btn-green:active{
    background-color: #104786;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}
body{
    background-color: #003572;
}
div{
    
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    color: rgb(116, 116, 116);
    margin: 0 auto;
    width: 300px;
    height: 450px;
}
input,text{
    outline: none;
    border: 0;
    width: 290px;

}
.field{
    border: solid 1px ;
    padding: 10px;
    width: 268px;

}
.field:focus{
    border-color:#0377fc ;
}
.center{
    text-align: center;
}
</style>
</html>