<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar detalles</title>
</head>
<body>
   <form action="/productos">
       <table>
           <tr>
               <td>Nombre Producto:</td>
               <td><input type="text" name="" placeholder="Ingresa Nombre" required></td>
           </tr>
           <tr>
               <td>Precio:</td>
               <td>$<input type="number" name="" placeholder="Ingresa Precio " required></td>
           </tr>
           <tr>
               <td>descuento:</td>
               <td><select name="" required>
                <option value="">Sin decuento</option>
                <option value="">10%</option>
                <option value="">15%</option>
                <option value="">20%</option>
                <option value="">30%</option>
                <option value="">35%</option>
                <option value="">40%</option>
                <option value="">45%</option>
                <option value="">50%</option>
            </select></td>
           </tr>
           <tr>
               <td>Stock:</td>
               <td><input type="number" name="" placeholder="Ingresa Stock" required></td>

            </tr>
            <tr>
                <td>descripcion:</td>
                <td><input type="text" name="" placeholder="Ingresa Breve descipcion" required></td>

            </tr>
            <tr>
                <td>Colores:</td>
                <td><a href="/colores">Editar Colores</a></td>
            </tr>
            <tr>
                <td>puntos de venta:</td>
                <td><a href="/puntosVentas">Editar puntos de venta</a></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Actualizar" name="btn1"></td>
            </tr>
            <tr>
                <td><a href="/productos">Volver</a></td>
            </tr>
       </table>
   </form>
</body>
</html>