<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Color</title>
</head>
<body>
    <table>
        <tr>
    <td>¿Esta seguro que quiere eliminar este color?</td>
    <tr>
    <td><a href="/colores">Si</a></td>
    <td><a href="/colores">No</a></td>
</tr>
</tr>
    </table>
</body>
</html>