<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de la empresa</title>
</head>
<body>
    <div>
        <nav>
            
            <li class="ingresa"><a class="injoi" href="/ingresar" ><i></i>Iniciar sesion</a></li>
            <ul>      
                <li class="main"><a class="manu" href="/"><i></i>Inicio</a></li></li>
                <li class="main"><a class="manu" href="#s"><i></i>WhatsApp</a></li>
                <li class="main"><a class="manu" href="#"><i></i>Facebook</a></li>
                <li class="main"><a class="manu" href="#"><i></i>Instagram</a></li>
                <li class="main"><a class="manu" href="#"><i></i>Twiter</a></li>
                
                      
        </section>
    </nav>
        </div>
    <h1>Mision y vision</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta nesciunt at ea reiciendis aliquid aspernatur cumque id, deleniti maxime quia dolores amet quidem vero eius minus. Voluptatum illo vero distinctio eaque, numquam voluptatibus. Iusto a atque veniam minima aliquid! Quidem in ut modi consequatur!</p>
    <h1>vision</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit enim, sequi velit similique ratione dolore accusamus debitis ullam veritatis laboriosam, natus, esse temporibus autem iure. Quia pariatur quasi veniam, corrupti corporis itaque quisquam enim ex ducimus ipsam quo esse error. Commodi architecto non sint dolor! Voluptatem possimus a beatae dolorum.</p>
</body>
</html>