<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntos de venta</title>
</head>
<body>
    <form action="">
        <table>
    <h1>Puntos de venta</h1>
    <table border="1" >
       <tr>
        <th>ID</th>
        <th>Ciudad</th>
        <th>Locacion</th>
        <th></th>
       </tr>
       <tr>
        <td>01</td>
        <td>Pitalito</td>
        <td>Centro</td>
        <td><a href="/eliminarPuntos">Eliminar</a></td>
       </tr>
       <tr>
        <td>02</td>
        <td>Pitalito</td>
        <td>Calamo</td>
        <td><a href="/eliminarPuntos">Eliminar</a></td>
       </tr>
       <tr>
        <td>03</td>
        <td>Pitalito</td>
        <td>Solarte</td>
        <td><a href="/eliminarPuntos">Eliminar</a></td>
       </tr>
       <tr>
        <td>04</td>
        <td>Timana</td>
        <td>Parque</td>
        <td><a href="/eliminarPuntos">Eliminar</a></td>
       </tr>
       <tr>
        <td><a href="/agregrarPuntos">Agregar Punto</a></td>
       </tr>
       <tr>
        <td><a href="/editarDetalles">Volver</a></td>
       </tr>
</table>
  </form>
    

</body>
</html>